.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  background-color: var(--color-inputs);
  color: var(--color-button);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.stars {
  display: flex;
  gap: 4px;
}

.comment {
  color: var(--color-secondary);
  line-height: 1.5;
}
