.container {
  padding: 0 64px;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.loader {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--color-main);
  margin-top: 48px;
  margin-bottom: 8px;
}

.subHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  color: var(--color-main);
}

.ratingWrapper,
.locationWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratingText {
  text-decoration: underline;
}

.starIcon {
  color: var(--color-rating);
  width: 16px;
  height: 16px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 28px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin-bottom: 28px;
  padding: 0;
  list-style: none;
}

.galleryItem {
  width: 292px;
  height: 312px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--color-inputs);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  transform: scale(1.35);
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-main);
  margin-bottom: 60px;
  max-width: 100%;
}

.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
  margin-bottom: 44px;
}

.tabBtn {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-main);
  cursor: pointer;
  transition: color var(--transition);
}

.tabBtn:hover {
  color: var(--color-button);
}

.tabBtn.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 5px;
  background-color: var(--color-button);
  border-radius: 2px 2px 0 0;
}

.bottomSection {
  display: flex;
  gap: 64px;
}

.leftColumn {
  width: 50%;
}

.rightColumn {
  width: 50%;
}

.detailsTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  padding-top: 24px;
  border-top: 1px solid rgba(16, 24, 40, 0.1);
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 24, 40, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  opacity: 1;
  transition: opacity var(--transition);
}

.modalContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modalImage {
  width: 100%;
  height: 100%;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 20px;
}
