.header {
  background-color: var(--color-bg-light);
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 72px;
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 450px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 16px;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--color-main);
  transition: color var(--transition);
}

.link:hover,
.active {
  color: var(--color-button);
}
