.sidebar {
  width: 360px;
  flex-shrink: 0;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: var(--color-placeholder);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.inputWrapper {
  position: relative;
  margin-bottom: 32px;
}

.input {
  width: 100%;
  padding: 18px 18px 18px 44px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-bg-light);
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  outline: none;
}

.input::placeholder {
  color: var(--color-main);
}

.inputIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: var(--color-main);
  opacity: 0.6;
}

.separator {
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-secondary);
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-main);
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  padding-bottom: 24px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.filterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 112px;
  height: 96px;

  border: 1px solid var(--color-border);
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.filterBox span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-main);
}

.filterBox:hover {
  border-color: var(--color-button);
}

.active {
  border: 1px solid var(--color-button);
}

.searchBtn {
  width: 166px;
  padding: 16px 60px;

  background-color: var(--color-button);
  color: white;
  border: none;
  border-radius: 200px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;

  transition: background-color var(--transition);
}

.searchBtn:hover {
  background-color: var(--color-button-hover);
}
