.container {
  width: 631px;
  height: 588px;
  background-color: var(--color-bg-light);
  border-radius: 10px;
  padding: 44px 52px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 100px;
  padding: 0;
  list-style: none;
  margin-top: 0;
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: var(--color-inputs);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  text-transform: capitalize;
}

.text {
  color: var(--color-main);
}

.detailsTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-main);
  margin-bottom: 24px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  margin-bottom: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-main);
}

.detailLabel {
  text-transform: capitalize;
}

.detailValue {
  text-transform: capitalize;
}
