.container {
  width: 631px;
  min-height: 588px;
  height: auto;
  background-color: var(--color-bg-light);
  border-radius: 10px;
  padding: 44px 52px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.badgesWrapper {
  margin-bottom: auto;
}

.detailsTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-main);
  margin-bottom: 24px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  margin-bottom: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-main);
}

.detailLabel {
  text-transform: capitalize;
}

.detailValue {
  text-transform: capitalize;
}
