.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  width: 888px;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}

.image {
  width: 290px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--color-main);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 12px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 13px;
  flex-shrink: 0;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--color-main);
}

.heartBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 1.5;
  color: var(--color-main);
}

.ratingWrapper,
.locationWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.starIcon {
  color: var(--color-rating);
  width: 16px;
  height: 16px;
}

.mapIcon {
  width: 16px;
  height: 16px;
}

.ratingText {
  text-decoration: underline;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-secondary);
  margin-bottom: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  list-style: none;
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: var(--color-inputs);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
}

.badgeIcon {
  width: 20px;
  height: 20px;
}

.button {
  margin-top: auto;
  align-self: flex-start;
  display: inline-block;
  padding: 16px 60px;
  background-color: var(--color-button);
  color: white;
  border-radius: 200px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-decoration: none;
  transition: background-color var(--transition);
  text-align: center;
}

.button:hover {
  background-color: var(--color-button-hover);
}
