@import "modern-normalize";

:root {
  --color-main: #101828;
  --color-secondary: #475467;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-rating: #ffc531;
  --color-bg-light: #f7f7f7;
  --color-inputs: #f2f4f7;
  --color-white: #ffffff;
  --color-border: #dadde1;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--color-main);
  background-color: var(--color-white);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
