.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/hero-image.jpg");

  width: 100%;
  height: calc(100vh - 72px);

  display: flex;
  align-items: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../../assets/hero-image@2x.jpg");
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 64px;
  z-index: 1;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.67;
  color: #f7f7f7;
  margin-bottom: 16px;
  max-width: 600px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 16px 60px;
  background-color: var(--color-button);
  color: #fff;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 1.5;
  transition: background-color var(--transition);
}

.button:hover {
  background-color: var(--color-button-hover);
}
