.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  background-color: #f7f7f7;
}

.title {
  font-size: 100px;
  font-weight: 700;
  color: var(--color-main);
  line-height: 1;
  margin-bottom: 24px;
}

.text {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-main);
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 16px 60px;
  background-color: var(--color-button);
  color: #fff;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 1.5;
  text-decoration: none;
  transition: background-color var(--transition);
}

.button:hover {
  background-color: var(--color-button-hover);
}
